{% block head %}
{% include "head.html" %}
{% endblock %}


<div class="container">
    {% for player in players %}
	<div class="row">
        <div class="col-sm-12">
            <div class="col-xs-12 col-sm-8">
                <h2>{{ player.nume }} {{ player.prenume }}</h2>
                <p><strong>email: </strong> {{ player.email }} </p>
                <p><strong>Level: </strong> {{ player.level }} </p>
            </div>             
        </div>            
    </div>
    {% endfor %}
</div>

<!-- {% for players in player %}
    {{ player.nume }} {{ player.prenume }}</br>
{% endfor %} -->