{% block head %}
{% include "head.html" %}
{% endblock %}
<div class="container">
	<div class="row">
        <div class="col-sm-12">
            <div class="col-xs-12 col-sm-8">
                <h2>{{ player.nume }} {{ player.prenume }}</h2>
                <p><strong>email: </strong> {{ player.email }}</p>
                <p><strong>Level: </strong> {{ player.level }} </p>
                <p><strong>Experienta: </strong> {{ player.experienta }} / 50000 </p>
                
                <p><strong>Skills: </strong>
                    {% for skill in skills %}
                        </br>
                        <span class="tags">Name: {{ skill.nume }}</span></br>   
                        <span class="tags">Description: {{ skill.descriere }}</span></br>
                        <span class="tags">Damage: {{ skill.puncte }}</span></br>
                        <span class="tags">Unlocked at level: {{ skill.level_necesar }}</span></br>
                    {% endfor %}
                </p>
            </div>             
        </div>            
        <div class="col-sm-12 divider text-center">
            <div class="col-xs-12 col-sm-4 emphasis">
                <span><strong> Attack </strong></span><span> {{ player.attack }} </span>
            </div>
            <div class="col-xs-12 col-sm-4 emphasis">
                <span><strong> Defense </span></h2><span> {{ player.defense }} </span>
            </div>
            <div class="col-xs-12 col-sm-4 emphasis">
                <span><strong> Health </strong></span><span> {{ player.health }} </span>
            </div>
            <div class="col-xs-12 col-sm-4 emphasis">
                <span><strong> Mana </strong></span><span> {{ player.mana }} </span>
            </div>
            <div class="col-xs-12 col-sm-4 emphasis">
                <span><strong> Luck </strong></span><span> {{ player.luck }} </span>
            </div>
            <a class="btn btn-primary" href="{% url 'battle_arena' player.id %}">Arena</a>
            <a class="btn btn-primary" href="{% url 'logout_profile' %}">Logout</a>
            <a class="btn btn-primary" onclick="confirmFunc(); return false;">Delete</a>
        </div>
	</div>
</div>

<script>
    function confirmFunc() {
        var r = confirm("Are you sure!");
        if (r == true) {
            // console.log('da', "{% url 'delete_profile' player.id %}");
            // throw new Error('This is not an error. This is just to abort javascript');
            // window.location.replace("{% url 'delete_profile' player.id %}");
            window.location.href = "{% url 'delete_profile' player.id %}";
        } 
    }
</script>