<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.ui.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/jquery.ui.min.js' %}"></script>
        <script src="{% static 'js/vue.min.js' %}"></script>
        <script src="{% static 'js/axios.min.js' %}"></script>
    </head>
    <!-- <div class="container">
        <div class="row"> -->
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <a class="navbar-brand" href="{% url 'main_index' %}">RPG Grota</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link"href="{% url 'show_players' %}">Players list</a>
                    </li>
                    <li class="nav-item">
                        {% if request.session.player_id %} 
                            <a class="nav-link" href="{% url 'show_profile' request.session.player_id %}">Account</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'login_profile' %}" >Login</a>
                        {% endif %}
                    </li>
                  </ul>
                  <!-- <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form> -->
                </div>
              </nav>
        <!-- </div>
    </div> -->