<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.ui.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/jquery.ui.min.js' %}"></script>
        <script src="{% static 'js/vue.min.js' %}"></script>
        <script src="{% static 'js/axios.min.js' %}"></script>
    </head>
    <div class="container">
        <div class="row">
            <p>
                <a class="btn btn-primary" href="{% url 'main_index' %}">Home</a>
                <a class="btn btn-primary" href="{% url 'show_players' %}">All players</a>
                {% if request.session.player_id %} 
                    <a class="btn btn-primary" href="{% url 'show_profile' request.session.player_id %}">Account</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'login_profile' %}">Login</a>
                {% endif %}
            </p>
        </div>
    </div>